@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

*{
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f7f1e3;
  color: #210202;
}
 
header {
  background-color: #1c5842;
  color: rgb(234, 251, 226);
  padding: 20px;
  text-align: stretch;
}

.navlogo{
  display: flex;
  justify-content: flex-start;
  font-size: 28px;
  font-weight: 700;
}

.lista{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  background-color: #1c5842;
  margin-left: 1.5rem;
  padding-left: 0;
  list-style-type: none;
} 

nav ul li a{
  text-decoration: none;
  color:#f7f1e3;
  font-weight: 500;
  border: 2px solid rgb(91, 125, 120);
  padding: 5px;
  border-radius: 10px;
}

nav ul li a:hover{
  color: #FFEDF2;
  background-color: #3b2f2f;
  border-color: #FFEDF2;
  transition: 0.7s ease;
}

.linha {
  color:#FFEDF2;
}

.fundoimg {
  position: relative;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: auto;
  text-align: center;
  padding: 100px 50px;
}

:root {
  --cor-fundo-corpo: #f7f1e3;
}

.fundoimg::before{
  content: "";
  position: absolute;
  background:
  linear-gradient(
    to bottom, 
    rgba(255, 255, 255, 0) 0%, 
    var(--cor-fundo-corpo) 100%) ,
    url(imagens/sakura-rosa-em-foco-suave-bela-flor-de-cerejeira-no-japao-flores-rosa-brilhantes-de-sakura-sobre-o-fundo-desfocado-fundo-de-primavera-e-belas-pa.jpg);
  inset: 0;
  background-size: cover;
  background-position: bottom;
  z-index: -1;
  opacity: 0.5;
}

.subtituloimg {
    color: #3D000D; 
    font-size: 2.5em;
    margin-bottom: 20px;
    font-family: 'Libre Baskerville', serif;
}

.introducaoimg {
    font-size: 1.2em;
    color: black;
    max-width: 700px;
    margin: 0 auto 40px auto;
    line-height: 1.5;
}

.botaoimg {
    display: inline-block;
    padding: 12px 25px;
    background-color: #1c5842;
    color: #f7f1e3;
    text-decoration: none;
    font-weight: 500;
    border-radius: 5px;
    border: none;
    letter-spacing: 1px;
    transition: 0.7s ease;
}

.botaoimg:hover {
  background-color: #3b2f2f;
  color: #FFEDF2;
  border-color: #FFEDF2;
}

footer{
  background-color: #7b9f84;
  color: #FFEDF2;
  text-align: center;
  padding: 3%;
}

section{
  padding: 3%;
  text-align: center;
  background-color: var(--cor-fundo-corpo);
  background: 
    linear-gradient(to bottom, transparent, #7b9f84), 
    var(--cor-fundo-corpo);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 50px;
}

h1 {
  font-size: 28px;
  color: #FFEDF2;
  font-family: 'Libre Baskerville';
  text-align: center;
}

h2 {
  font-size: 28px;
  color: rgb(234, 251, 226);
  font-family: 'Libre Baskerville';
  text-align: center;
}

h3 {
  font-size: 25px;
  color: #1c5842;
  font-family: 'Libre Baskerville';
  text-align: center;
}

h4 {
 font-family: 'Libre Baskerville';
  text-align: center; 
  font-size: 20px;
  color: #1c5842;
}

p{
  text-align: center;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-size: 18px;
  color: #3f3f3f;
}

.mensagembloco{
  background-color: rgb(234, 251, 226);
  border: 2px solid #333;
  border-radius: 10px;
}

table {
  width: 80%;
  border-collapse: collapse;
  margin: 20px auto;
  font-family: 'Libre Baskerville';
}

th{
  border: 1px solid #1c5842;
  padding: 10px;
  font-size: 18px;
} 

td{
  border: 1px solid #1c5842;
  padding: 10px;
  font-size: 18px;
  text-decoration: none;
  font-family: 'Roboto Condensed', Arial, sans-serif;;
}

a{
  color:#1c5842;
  text-decoration: none;
}

a:hover{
  color: rgb(86, 140, 140);

}

thead th {
  background-color: rgb(234, 251, 226);
  color: #210202;
  text-align: center;
}

.linha{
  width: 100%;
  border-top: 1px solid rgb(91, 125, 120);
  margin-top: 20px;
  margin-bottom: 20px;
}

.circles{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.circulo{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid #1c5842;
  background-color: rgb(234, 251, 226);
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
}

.bloco1, .bloco3, .bloco5, .bloco7{
  display: grid;
  grid-template-columns: 1fr 1fr; 
  border: 1px solid #e0e0e0;
  border-radius: 15px;
  max-width: 1200px;
  margin: 50px auto;
  font-family: sans-serif;
  background-color: #FFEDF2;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.textblo1, .textblo3, .textblo5, .textblo7{
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  order: 1;
}

.bloco2, .bloco4, .bloco6, .bloco8{
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 15px; 
  border: 1px solid #e0e0e0;
  border-radius: 15px;
  max-width: 1200px;
  margin: 50px auto;
  font-family: sans-serif;
  background-color: white;
   overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.textblo2, .textblo4, .textblo6, .textblo8{
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bloco1 img, .bloco2 img, .bloco3 img, .bloco4 img, .bloco5 img, .bloco6 img, .bloco7 img, .bloco8 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border: none;
}

.emocaobotao {
  padding: 10px 20px;
  background-color: #f0f0f0; 
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.emocaobotao.active, .emocaobotao:hover {
  background-color: #e6ffe6;
  border-color: #336633;
  font-weight: bold;
}

.resultadocaixa h2 {
  color: #333; 
  text-align: center; 
  margin-top: 10px;
  margin-bottom: 10px;
}

.resultadocaixa p {
  text-align: center; 
  line-height: 1.6;
}

.resultadocaixa .linksignificado {
  color: #336633; 
  text-decoration: none;
  font-weight: bold;
  display: block; 
  margin-top: 20px;
}