/* Estilos gerais */
*{
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f7f1e3;
  color: #210202;
}
 
header {
  background-color: #1c5842;
  color: rgb(234, 251, 226);
  padding: 20px;
  text-align: stretch;
}

.navlogo{
  display: flex;
  justify-content: flex-start;
  font-size: 28px;
  font-weight: 700;
}

.lista{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  background-color: #1c5842;
  margin-left: 1.5rem;
  padding-left: 0;
  list-style-type: none;
} 

nav ul li a{
  text-decoration: none;
  color:#f7f1e3;
  font-weight: 500;
  transition: color 0.5s;
  border: 2px solid rgb(91, 125, 120);
  padding: 5px;
  border-radius: 10px;
}

nav ul li a:hover{
  color: #cda475;
}

footer{
  background-color: #1c5842;
  color: #f7f1e3;
  text-align: center;
  padding: 3%;
}

section{
  padding: 3%;
  text-align: center;
  color: #3b2f2f;
}

h1, h2 {
  font-size: 28px;
  color: #f7f1e3;
  font-family: 'Libre Baskerville';
  text-align: center;
}

h2 {
  font-size: 28px;
  color: rgb(234, 251, 226);
  font-family: 'Libre Baskerville';
  text-align: center;
}

h3 {
  font-size: 25px;
  color: #1c5842;
  font-family: 'Libre Baskerville';
  text-align: center;
}

h4 {
 font-family: 'Libre Baskerville';
  text-align: center; 
  font-size: 20px;
  color: #1c5842;
}

p{
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  font-size: 18px;
}

.mensagembloco{
  background-color: rgb(234, 251, 226);
  border: 2px solid #333;
  border-radius: 10px;
}

table {
  width: 80%;
  border-collapse: collapse;
  margin: 20px auto;
  font-family: 'Libre Baskerville';
}

th, td{
  border: 1px solid #1c5842;
  padding: 10px;
  font-size: 18px;
}

thead th {
  background-color: rgb(234, 251, 226);
  color: #210202;
  text-align: center;
}

.linha{
  width: 100%;
  border-top: 1px solid rgb(91, 125, 120);
  margin-top: 20px;
  margin-bottom: 20px;
}

.circulo{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid #1c5842;
  background-color: rgb(234, 251, 226);
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
}