@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

*{
  margin: 0;
  border: 0;
  padding: 0;
  line-height: 1.5;
}

h1 {
  font-size: 2.5em;
  color: #ebe8e9;
  font-family: 'Libre Baskerville';
  text-align: left;
}

h2 {
  font-size: 1.5em;
  color: rgb(234, 251, 226);
  font-family: 'Libre Baskerville';
  text-align: left;
}

h3 {
  font-size: 25px;
  color: #1c5842;
  font-family: 'Libre Baskerville';
  text-align: center;
}

h4 {
 font-family: 'Libre Baskerville';
  text-align: center; 
  font-size: 20px;
  color: #1c5842;
}

p{
  text-align: center;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-size: 18px;
  color: #3D000D;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f7f1e3;
  color: #210202;
}
 
header {
  background-color: #1c5842;
  color: rgb(234, 251, 226);
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navlogo {
  display: block;
  justify-content: flex-start;
  margin: 0;
}

.navlogo h1 {
  margin: 0;
}

.navlogo h2 {
  margin: 0;
}

.navbar ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
} 

.navbar li {
  margin-left: 20px;
}

.navbar a{
  text-decoration: none;
  color:#F4F1DE;
  border: 1px solid #F4F1DE;
  padding: 8px 10px;
  border-radius: 10px;
  background-color: rgba(244, 241, 222, 0.2)dc;
}

.navbar a:hover{
  color: #FFEDF2;
  background-color: #3b2f2f;
  border-color: #FFEDF2;
  transition: 0.7s ease;
}

section{
  padding: 3%;
  text-align: center;
  background-color: var(--cor-fundo-corpo);
  background: 
    linear-gradient(to bottom, transparent, #FFEDF2), 
    var(--cor-fundo-corpo);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 50px;
}

footer{
  background-color:#1c5842;
  text-align: center;
  padding: 3%;
}

footer p {
  color: #FFEDF2;
}

.fundoimg {
  position: relative;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: auto;
  text-align: center;
  padding: 100px 50px;
}

:root {
  --cor-fundo-corpo: #f7f1e3;
}

.fundoimg::before{
  content: "";
  position: absolute;
  background:
  linear-gradient(
    to bottom, 
    rgba(255, 255, 255, 0) 0%, 
    var(--cor-fundo-corpo) 100%) ,
    url('sakura-rosa-em-foco-suave-bela-flor-de-cerejeira-no-japao-flores-rosa-brilhantes-de-sakura-sobre-o-fundo-desfocado-fundo-de-primavera-e-belas-pa.jpg');
  inset: 0;
  background-size: cover;
  background-position: bottom;
  z-index: -1;
  opacity: 0.5;
}

.subtituloimg {
  color: #3D000D; 
  font-size: 2.5em;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Libre Baskerville', serif;
}

.introducaoimg {
  font-size: 1.2em;
  color: black;
  max-width: 700px;
  margin: 0 auto 40px auto;
  line-height: 1.5;
}

.botaoimg {
  display: inline-block;
  padding: 12px 25px;
  background-color: #1c5842;
  color: #f7f1e3;
  text-decoration: none;
  font-weight: 500;
  border-radius: 10px;
  border: none;
  letter-spacing: 1px;
  transition: 0.7s ease;
}

.botaoimg:hover {
  background-color: #3b2f2f;
  color: #FFEDF2;
  border-color: #FFEDF2;
}

.mensagembloco{
  background-color: rgb(234, 251, 226);
  border: 2px solid #333;
  border-radius: 10px;
}

/* História e Regras */

table {
  width: 80%;
  border-collapse: collapse;
  margin: 20px auto;
  font-family: 'Libre Baskerville';
}

th{
  border: 1px solid #1c5842;
  padding: 10px;
  font-size: 18px;
} 

td{
  border: 1px solid #1c5842;
  padding: 10px;
  font-size: 18px;
  text-decoration: none;
  font-family: 'Roboto Condensed', Arial, sans-serif;;
}

a{
  color:#1c5842;
  text-decoration: none;
}

a:hover{
  color: rgb(86, 140, 140);

}

thead th {
  background-color: rgb(234, 251, 226);
  color: #210202;
  text-align: center;
}

.circles{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.circulo{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid #1c5842;
  background-color: rgb(234, 251, 226);
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
}

.circulo {
  animation: zoomIn 0.8s ease-out forwards;
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.1); 
  }
  100% {
    opacity: 1;
    transform: scale(1); 
  }
}

/* Galeria */

.bloco1, .bloco3, .bloco5, .bloco7{
  display: grid;
  grid-template-columns: 1fr 1fr; 
  border: 1px solid #e0e0e0;
  border-radius: 15px;
  max-width: 1200px;
  margin: 50px auto;
  font-family: sans-serif;
  background-color: #fce3ea;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.textblo1, .textblo3, .textblo5, .textblo7{
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  order: 1;
}

.bloco2, .bloco4, .bloco6, .bloco8{
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 15px; 
  border: 1px solid #e0e0e0;
  border-radius: 15px;
  max-width: 1200px;
  margin: 50px auto;
  font-family: sans-serif;
  background-color: white;
   overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.textblo2, .textblo4, .textblo6, .textblo8{
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textblo1 h2, .textblo3 h2, .textblo5 h2, .textblo7 h2, .textblo2 h2, .textblo4 h2, .textblo6 h2, .textblo8 h2{
  text-align: center;
}

.bloco1 img, .bloco2 img, .bloco3 img, .bloco4 img, .bloco5 img, .bloco6 img, .bloco7 img, .bloco8 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border: none;
}

/* Consultor */

section {
  position: relative;
  overflow: hidden;
}

.florlateralesq, .florlateraldir {
  background-image: url('png-transparent-white-flowers-art-flower-white-pear-flower-arranging-white-black-white-thumbnail-removebg-preview.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 170px; 
  height: 2000px; 
  position: absolute; 
  top: 0; 
  pointer-events: none; 
}

.florlateralesq {
  left: 0;
}

.florlateraldir {
  background-image: url('png-transparent-white-flowers-art-flower-white-pear-flower-arranging-white-black-white-thumbnail-removebg-preview-direita.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 170px; 
  height: 2000px; 
  position: absolute; 
  top: 0; 
  pointer-events: none; 
}

.florlateraldir {
  right: 0;
}

.emocaobotao {
  padding: 10px 20px;
  background-color: #f0f0f0; 
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1em;
}

.emocaobotao.active, .emocaobotao:hover {
  background-color: #e6ffe6;
  border-color: #336633;
  font-weight: bold;
}

.resultadocaixa h2 {
  color: #333; 
  text-align: center; 
  margin-top: 10px;
  margin-bottom: 10px;
}

.resultadocaixa p {
  text-align: center; 
  line-height: 1.6;
}

.resultadocaixa .linksignificado {
  color: #336633; 
  text-decoration: none;
  font-weight: bold;
  display: block; 
  margin-top: 20px;
}