@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f7f1e3;
  color: #210202;
}
 
header {
  background-color: #1c5842;
  color: rgb(234, 251, 226);
  padding: 20px;
  text-align: stretch;
}

.navlogo{
  display: flex;
  justify-content: flex-start;
  font-size: 28px;
  font-weight: 700;
}

.lista{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  background-color: #1c5842;
  margin-left: 1.5rem;
  padding-left: 0;
  list-style-type: none;
} 

nav ul li a{
  text-decoration: none;
  color:#f7f1e3;
  font-weight: 500;
  border: 2px solid rgb(91, 125, 120);
  padding: 5px;
  border-radius: 10px;
}

nav ul li a:hover{
  color: rgb(117, 184, 184);
}

footer{
  background-color: #1c5842;
  color: #f7f1e3;
  text-align: center;
  padding: 3%;
}

section{
  padding: 3%;
  text-align: center;
  color: #3b2f2f;
}

h1 {
  font-size: 28px;
  color: #f7f1e3;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
}

h2 {
  font-size: 28px;
  color: rgb(234, 251, 226);
  font-family: 'Libre Baskerville';
  text-align: center;
}

h3 {
  font-size: 25px;
  color: #1c5842;
  font-family: 'Libre Baskerville';
  text-align: center;
}

h4 {
 font-family: 'Libre Baskerville';
  text-align: center; 
  font-size: 20px;
  color: #1c5842;
}

p{
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  font-size: 18px;
}

.mensagembloco{
  background-color: rgb(234, 251, 226);
  border: 2px solid #333;
  border-radius: 10px;
}

table {
  width: 80%;
  border-collapse: collapse;
  margin: 20px auto;
  font-family: 'Libre Baskerville';
}

th{
  border: 1px solid #1c5842;
  padding: 10px;
  font-size: 18px;
} 

td{
  border: 1px solid #1c5842;
  padding: 10px;
  font-size: 18px;
  text-decoration: none;
}

a{
  color:#1c5842;
  text-decoration: none;
}

a:hover{
  color: rgb(86, 140, 140);

}

thead th {
  background-color: rgb(234, 251, 226);
  color: #210202;
  text-align: center;
}

.linha{
  width: 100%;
  border-top: 1px solid rgb(91, 125, 120);
  margin-top: 20px;
  margin-bottom: 20px;
}

.circles{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.circulo{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid #1c5842;
  background-color: rgb(234, 251, 226);
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
}

.bloco1, .bloco3, .bloco5, .bloco7{
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 15px; 
  max-width: 1200px;
  margin: 50px auto;
  font-family: sans-serif;
  background-color: white;/
}

.textblo1, .textblo3, .textblo5, .textblo7{
  padding: 30px;
  background-color: #f7f7f7; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bloco2, .bloco4, .bloco6, .bloco8{
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 15px; 
  max-width: 1200px;
  margin: 50px auto;
  font-family: sans-serif;
  background-color: white;
}

.textblo2, .textblo4, .textblo6, .textblo8{
  padding: 30px;
  background-color: #f7f7f7; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bloco1, .bloco2, .bloco3, .bloco4, .bloco5, .bloco6, .bloco7, .bloco8 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

img{
  width: 100%;
  height: 70%;
  border: 2px solid #1c5842;
  border-radius: 10px;
}